{% extends "layout.html" %}

{% block saturs %}
<h3 id="section2">Noteikumi:</h3>
Spēlē piedalās viens cilvēks, vai vairāki cilvēki - secīgi.<br>
Spēles laiks noteikts 10 min.<br>
Lai sāktu spēli:
<ol>
    <li>Jānospiež poga <b>Sākt spēli</b></li>
    <li>Jāizvēlas grūtības pakāpe - cik būs burti <br>minamajam vārdam</li>
    <li>Jāieraksta atminētais vārds: </li>
    <ul>
        <li>ja tas nav pareizs, tad jāmēģina vēlreiz </li>
        <li>ja neizdodas, tad var izmantot <b>Hint</b>-Palīdzība<br>
            šī iespēja samazinās atvēlēto laiku par 1 min. </li>
    </ul>
    <li>Spēles laikam beidzoties ierakstiet savu vārdu,<br>
        vai <i>nickname</i> rezultātu tabulā</li>
    <li>Ar saviem sasniegumiem variet iepazīties sadaļā<br>
        <b>Rekordisti</b>
    </li>
    <li>Spēlējiet vēlreiz!</li>
</ol>

<p class="solid"></p>

<h3>Lai sāktu spēli nospied šo pogu:
    <a class="btn" href="/saktspeli">Reģistrēties</a>
</h3>
{% endblock %}